<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12" style="text-align: left; padding: 0px;">
            <app-navigation></app-navigation>
        </div>
    </div>
    
    <div class="ui-grid-row">
        <div class="ui-grid-col-12" style="text-align: left; padding: 0px;">
            <alert-message [msgs]="msgs"></alert-message>
        </div>
    </div>
    
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

